<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/asset/css/index.css" />
		<link rel="stylesheet" href="/asset/css/common.css" />
	</head>
	<body>
		<div class="page-top">
			<div>Movie Reservation</div>
			<form>
				<input type="radio" id="dark-button" />
				<label for="dark-button">DARK</label>
				<input type="radio" id="white-button" />
				<label for="white-button">WHITE</label>
			</form>
		</div>
		<div class="intro-wrap">
			<div class="spinner-wrap">
				<div class="spinner">
					<img src="/img/loading/pngegg.png" />
				</div>
				<div class="progress-container">
					<div class="progress-bar"></div>
					<p>Resource Loading</p>
				</div>
			</div>
		</div>
	</body>
</html>
